.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;

    grid-template-areas:
    "header-area header-area"
    "sidebar-area content-area";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: content-area;
    background-color: aqua;
}

.site-page-header {
    border: 5px solid rgb(235, 237, 240);
    margin: 100px;
    /*border: 10px solid rgb(18, 82, 180);*/
}

.site-page-header-my {
    border: 5px solid rgb(235, 237, 240);
    /*border: 10px solid rgb(18, 82, 180);*/
}

.site-page-header-avatar {
    cursor: pointer;
}