.header {
    grid-area: header-area;
    background-color: greenyellow;
}

.header img {
    width: 50px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: blue;
}

.site-page-header {
    /*border: 10px solid rgb(235, 237, 240);*/
    border: 10px solid rgb(18, 82, 180);
}