.sidebar {
    grid-area: sidebar-area;
    background-color: #f8a817;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    font-weight: bold;
    color: #0023e1;
}