.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;

    grid-template-areas:
    "header-area header-area"
    "sidebar-area content-area";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: header-area;
    background-color: greenyellow;
}

.header img {
    width: 50px;
}

.sidebar {
    grid-area: sidebar-area;
    background-color: blue;
}

.content {
    grid-area: content-area;
    background-color: aqua;
}


.content img.top-image {
    width: 1000px;
}

.content img.avatar {
    width: 100px;
}

